<main>
  <div class="container mt-2">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-50" [hidden]="!success">
        Wiadomość została wysłana
      </div>
      <div class="alert alert-danger w-50" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <div>
        <h4>OBSŁUGA KLIENTA</h4>
        <h5>Formularz kontaktowy</h5>
      </div>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-50" [formGroup]="contactForm" (submit)="send()" novalidate id="contactForm">
        <div class="form-group">
          <label for="firstname">Imię:</label>
          <input type="text" class="form-control" formControlName="firstname" id="firstname" name="firstname" required/>
          <div
            *ngIf="contactForm.controls['firstname'].invalid && (contactForm.controls['firstname'].dirty || contactForm.controls['firstname'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko:</label>
          <input type="text" class="form-control" formControlName="surname" id="surname" name="surname" required/>
          <div
            *ngIf="contactForm.controls['surname'].invalid && (contactForm.controls['surname'].dirty || contactForm.controls['surname'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Adres e-mail:</label>
          <input type="text" class="form-control" formControlName="mail" id="mail" name="mail" required email="true"/>
          <div
            *ngIf="contactForm.controls['mail'].invalid && (contactForm.controls['mail'].dirty || contactForm.controls['mail'].touched)"
            class="text-danger">
            <div *ngIf="contactForm.controls['mail'].errors.email" class="text-danger">
              Podaj adres e-mail
            </div>
            <div *ngIf="contactForm.controls['mail'].errors.required" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
        </div>
        <div class="form-group-large">
          <label for="content">Treść wiadomości:</label>
          <textarea type="text" rows="5" class="form-control" formControlName="content" id="content" name="content" required></textarea>
          <div
            *ngIf="contactForm.controls['content'].invalid && (contactForm.controls['content'].dirty || contactForm.controls['content'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group-small">
          <div>
            <input type="checkbox" class="form-control d-inline-block" formControlName="regulations" id="regulations" name="regulations" required/>
            <label for="regulations" class="w-75 d-inline-block">Akceptuję <a href="/regulations">reglumain</a> sklepu NewBuy</label>
          </div>
          <div
            *ngIf="contactForm.controls['regulations'].invalid && (contactForm.controls['regulations'].dirty || contactForm.controls['regulations'].touched)" class="text-danger">
            Proszę zaakceptować regulamin
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="submitDisabled()" class="btn btn-secondary">
            <i class="fa fa-user-plus"></i>
            Wyślij
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
