#contactForm .form-group{
  height: 80px;
}
#contactForm .form-group-large{
  height: 200px;
}
#contactForm .form-group-small{
  height: 50px;
}
input[type="checkbox"]{
  width: 20px;
}
textarea {
  resize: none;
}
