<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-100" [hidden]="!addSuccess">
        Produkt został dodany
      </div>
      <div class="alert alert-success w-100" [hidden]="!modifySuccess">
        Produkt został zmodyfikowany
      </div>
      <div class="alert alert-danger w-100" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>
  </div>
  <div class="container" [hidden]="!itemsNotEmpty()">
    <div>
      <h1>Zarządzanie produktami</h1>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addProductModal">
      <i class="fa fa-plus"></i>
      Dodaj produkt
    </button>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak produktów</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Kategoria</th>
          <th scope="col">Opis</th>
          <th scope="col">Ilość</th>
          <th scope="col">Cena</th>
          <th scope="col">Dostępność</th>
          <th scope="col">Widoczność</th>
          <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td><a href="/product;id={{product.id}}">{{product.name}}</a></td>
          <td>{{product.category.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.amount}} zł</td>
          <td>{{product.availability ? "TAK" : "NIE"}}</td>
          <td>{{product.visibility ? "TAK" : "NIE"}}</td>
          <td>
            <button class="btn btn-secondary btn-sm mr-1" (click)="updateProduct(product.id)">
              Zmień
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="enableProduct(product.id)" [hidden]="product.availability">
              Odblokuj
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="disableProduct(product.id)" [hidden]="!product.availability">
              Zablokuj
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="showProduct(product.id)" [hidden]="product.visibility">
              Pokaż
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="hideProduct(product.id)" [hidden]="!product.visibility">
              Ukryj
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="goToPhotos(product.id)">
              Zdjęcia
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form role="form" class="w-75" [formGroup]="addProductForm" novalidate id="addProductForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalTitle">Dodaj produkt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Nazwa produktu:</label>
              <input type="text" class="form-control" formControlName="name" id="name" name="name" required/>
              <div
                *ngIf="addProductForm.controls['name'].invalid && (addProductForm.controls['name'].dirty || addProductForm.controls['name'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="category">Kategoria:</label>
              <select class="form-control" formControlName="category" [compareWith]="compare" id="category"
                      name="category" required>
                <option *ngFor="let category of categories" [value]="category.id"> {{category.name}}</option>
              </select>
              <div
                *ngIf="addProductForm.controls['category'].invalid && (addProductForm.controls['category'].dirty || addProductForm.controls['category'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="description">Opis:</label>
              <input type="text" class="form-control" formControlName="description" id="description" name="description"
                     required/>
              <div
                *ngIf="addProductForm.controls['description'].invalid && (addProductForm.controls['description'].dirty || addProductForm.controls['description'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="amount">Cena:</label>
              <input type="number" class="form-control" formControlName="amount" id="amount" name="amount" required/>
              <div
                *ngIf="addProductForm.controls['amount'].invalid && (addProductForm.controls['amount'].dirty || addProductForm.controls['amount'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeAddProductModalButton" data-dismiss="modal">
              Zamknij
            </button>
            <button type="submit"
                    [disabled]="addProductForm.controls['name'].invalid || addProductForm.controls['category'].invalid || addProductForm.controls['description'].invalid || addProductForm.controls['amount'].invalid"
                    class="btn btn-primary" (click)="addProduct()">Dodaj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form role="form" class="w-75" [formGroup]="updateProductForm" novalidate id="updateProductForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateProductModalTitle">Aktualizuj produkt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="updateName">Nazwa produktu:</label>
              <input type="text" class="form-control" formControlName="name" id="updateName" name="name" required/>
              <div
                *ngIf="updateProductForm.controls['name'].invalid && (updateProductForm.controls['name'].dirty || updateProductForm.controls['name'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="updateCategory">Kategoria:</label>
              <select class="form-control" formControlName="category" [compareWith]="compare" id="updateCategory"
                      name="category" required>
                <option *ngFor="let category of categories" [value]="category.id"> {{category.name}}</option>
              </select>
              <div
                *ngIf="addProductForm.controls['category'].invalid && (addProductForm.controls['category'].dirty || addProductForm.controls['category'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="updateDescription">Opis:</label>
              <input type="text" class="form-control" formControlName="description" id="updateDescription"
                     name="description"
                     required/>
              <div
                *ngIf="updateProductForm.controls['description'].invalid && (updateProductForm.controls['description'].dirty || updateProductForm.controls['description'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="updateAmount">Cena:</label>
              <input type="number" class="form-control" formControlName="amount" id="updateAmount" name="amount"
                     required/>
              <div
                *ngIf="updateProductForm.controls['amount'].invalid && (updateProductForm.controls['amount'].dirty || updateProductForm.controls['amount'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeUpdateProductModalButton" data-dismiss="modal">
              Zamknij
            </button>
            <button type="button" [hidden]="true" id="showUpdateProductModalButton" data-toggle="modal"
                    data-target="#updateProductModal">Pokaż
            </button>
            <button type="submit"
                    [disabled]="updateProductForm.controls['name'].invalid || updateProductForm.controls['category'].invalid || updateProductForm.controls['description'].invalid || updateProductForm.controls['amount'].invalid"
                    class="btn btn-primary" (click)="update()">Aktualizuj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
