<main>
  <div class="container p-0">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-100" [hidden]="!deleteSuccess">
        Element został usunięty z koszyka
      </div>
      <div class="alert alert-success w-100" [hidden]="!orderSuccess">
        Zamówienie złożone
      </div>
      <div class="alert alert-danger w-100" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>
  </div>
  <div class="container" [hidden]="!itemsNotEmpty()">
    <h1>Koszyk</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Twój koszyk jest pusty</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Produkt</th>
          <th scope="col">Ilość</th>
          <th scope="col">Cena</th>
          <th scope="col">Suma</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cart.items">
          <td><a href="/product;id={{item.productId}}">{{item.name}}</a></td>
          <td>{{item.quantity}}</td>
          <td>{{item.amount}} zł</td>
          <td>{{item.amount * item.quantity}} zł</td>
          <td>
            <div (click)="deleteFromCart(item.id)">
              <i class="fa fa-times-circle"></i>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-5" [hidden]="!itemsNotEmpty()">
      <table class="table w-25">
        <tbody>
        <tr>
          <th>Portfel</th>
          <td>{{wallet.balance}} zł</td>
        </tr>
        <tr>
          <th>Łączna kwota</th>
          <td>{{totalAmount()}} zł</td>
        </tr>
        <tr>
          <th>Bilans</th>
          <td>{{wallet.balance - totalAmount()}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row" [hidden]="!itemsNotEmpty()">
      <button type="button" [disabled]="wallet.balance - totalAmount() < 0" data-toggle="modal" data-target="#orderModal" class="btn btn-secondary">
        <i class="fa fa-book"></i>
        Zamów
      </button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalTitle">Zamówienie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy potwierdzasz zamówienie na kwotę {{totalAmount()}} zł?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeOrderModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="order()">Zamów</button>
        </div>
      </div>
    </div>
  </div>
</main>
