<main>
  <div class="container">
    <div>
      <h1>Raport</h1>
    </div>
  </div>
  <div class="container">
    <form role="form" class="w-100" [formGroup]="reportForm" (submit)="refresh()" novalidate id="reportForm">
      <div class="form-group mr-2 d-inline-block">
        <label for="from">Od: </label>
        <input type="date" class="form-control" formControlName="from" id="from" name="from" required/>
      </div>
      <div class="form-group mr-2 d-inline-block">
        <label for="to">Do: </label>
        <input type="date" class="form-control" formControlName="to" id="to" name="to" required/>
      </div>
      <div class="form-group mr-2 d-inline-block w-25">
        <label for="product">Produkt: </label>
        <select class="form-control" formControlName="product" [compareWith]="compare" id="product"
                name="product" required>
          <option label="Wszystkie"></option>
          <option *ngFor="let product of products" [value]="product.id"> {{product.name}}</option>
        </select>
      </div>
      <div class="text-center mt-4 d-inline-block">
        <button type="submit" class="btn btn-secondary">
          <i class="fa fa-filter"></i>
          Filtruj
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak danych</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Data zakupu</th>
          <th scope="col">Ilość sprzedanych</th>
          <th scope="col">Kwota zakupu</th>
          <th scope="col">Koszty</th>
          <th scope="col">Przychody</th>
          <th scope="col">Zysk</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reportItem of reportItems">
          <td><a href="/product;id={{reportItem.productId}}">{{reportItem.productName}}</a></td>
          <td>{{reportItem.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{reportItem.soldQuantity}}</td>
          <td>{{reportItem.purchasedAmount}} zł</td>
          <td>{{reportItem.purchasedAmount * reportItem.soldQuantity}} zł</td>
          <td>{{reportItem.soldTotalAmount}} zł</td>
          <td>{{reportItem.soldTotalAmount - reportItem.purchasedAmount * reportItem.soldQuantity}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-5" [hidden]="!itemsNotEmpty()">
      <table class="table w-50">
        <tbody>
        <tr>
          <th>Łączna liczba sprzedanych sztuk</th>
          <td>{{totalSoldQuantity()}}</td>
        </tr>
        <tr>
          <th>Przychód</th>
          <td>{{totalSoldAmount()}} zł</td>
        </tr>
        <tr>
          <th>Koszty</th>
          <td>{{totalPurchasedAmount()}} zł</td>
        </tr>
        <tr>
          <th>Zysk</th>
          <td>{{totalProfit()}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
