<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-75" [hidden]="!success">
        Ustawienia zostały zapisane.
      </div>
      <div class="alert alert-danger w-75" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
      <div class="alert alert-danger w-75" [hidden]="!usernameOccupied">
        Podana nazwa uzytkownika jest już zajęta.
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <h4>Ustawienia</h4>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-25" [formGroup]="settingsForm" (submit)="save()" novalidate id="settingsForm">
        <div class="form-group">
          <label for="username">Nazwa użytkonwika:</label>
          <input type="text" class="form-control" formControlName="username" id="username" name="username" required/>
        </div>
        <div class="form-group">
          <label for="password">Hasło:</label>
          <input type="password" class="form-control" formControlName="password" id="password" name="password" required/>
          <div *ngIf="settingsForm.controls['password'].invalid && (settingsForm.controls['password'].dirty || settingsForm.controls['password'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="firstname">Imię:</label>
          <input type="firstname" class="form-control" formControlName="firstname" id="firstname" name="firstname" required/>
          <div *ngIf="settingsForm.controls['firstname'].invalid && (settingsForm.controls['firstname'].dirty || settingsForm.controls['firstname'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko:</label>
          <input type="surname" class="form-control" formControlName="surname" id="surname" name="surname" required/>
          <div *ngIf="settingsForm.controls['surname'].invalid && (settingsForm.controls['surname'].dirty || settingsForm.controls['surname'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Numer telefonu:</label>
          <input type="number" class="form-control" formControlName="phone" id="phone" name="phone" required/>
          <div *ngIf="settingsForm.controls['phone'].invalid && (settingsForm.controls['phone'].dirty || settingsForm.controls['phone'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Adres e-mail:</label>
          <input type="text" class="form-control" formControlName="mail" id="mail" name="mail" required email="true"/>
          <div *ngIf="settingsForm.controls['mail'].invalid && (settingsForm.controls['mail'].dirty || settingsForm.controls['mail'].touched)" class="text-danger">
            <div *ngIf="settingsForm.controls['mail'].errors.email" class="text-danger">
              Podaj adres e-mail
            </div>
            <div *ngIf="settingsForm.controls['mail'].errors.required" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="submitDisabled()" class="btn btn-secondary">
            <i class="fa fa-save"></i>
            Zapisz
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
