<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-danger w-75" [hidden]="!error">
        Rejestracja nieudana. Proszę spróbować ponownie.
      </div>
      <div class="alert alert-danger w-75" [hidden]="!usernameOccupied">
        Podana nazwa uzytkownika jest już zajęta.
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <h4>Rejestracja</h4>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-25" [formGroup]="registerForm" (submit)="register()" novalidate id="registerForm">
        <div class="form-group">
          <label for="username">Nazwa użytkonwika:</label>
          <input type="text" class="form-control" formControlName="username" id="username" name="username" required/>
          <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło:</label>
          <input type="password" class="form-control" formControlName="password" id="password" name="password" required/>
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="firstname">Imię:</label>
          <input type="firstname" class="form-control" formControlName="firstname" id="firstname" name="firstname" required/>
          <div *ngIf="registerForm.controls['firstname'].invalid && (registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko:</label>
          <input type="surname" class="form-control" formControlName="surname" id="surname" name="surname" required/>
          <div *ngIf="registerForm.controls['surname'].invalid && (registerForm.controls['surname'].dirty || registerForm.controls['surname'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Numer telefonu:</label>
          <input type="number" class="form-control" formControlName="phone" id="phone" name="phone" required/>
          <div *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Adres e-mail:</label>
          <input type="text" class="form-control" formControlName="mail" id="mail" name="mail" required email="true"/>
          <div *ngIf="registerForm.controls['mail'].invalid && (registerForm.controls['mail'].dirty || registerForm.controls['mail'].touched)" class="text-danger">
            <div *ngIf="registerForm.controls['mail'].errors.email" class="text-danger">
              Podaj adres e-mail
            </div>
            <div *ngIf="registerForm.controls['mail'].errors.required" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
        </div>
        <div class="form-group-small">
          <div>
            <input type="checkbox" class="form-control d-inline-block" formControlName="regulations" id="regulations" name="regulations" required/>
            <label for="regulations" class="w-75 d-inline-block">Akceptuję <a href="/regulations">reglumain</a> sklepu</label>
          </div>
          <div
            *ngIf="registerForm.controls['regulations'].invalid && (registerForm.controls['regulations'].dirty || registerForm.controls['regulations'].touched)" class="text-danger">
            Proszę zaakceptować regulamin
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="submitDisabled()" class="btn btn-secondary">
            <i class="fa fa-user-plus"></i>
            Zarejestruj
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
