<main>
  <div class="container" [hidden]="!itemsNotEmpty()">
    <h1>Historia zamówień</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak zamówień</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Numer zamówienia</th>
            <th scope="col">Data</th>
            <th scope="col">Nazwa produktu</th>
            <th scope="col">Ilość</th>
            <th scope="col">Cena</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{purchase.id}}</td>
          <td>{{purchase.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td><a href="/product;id={{purchase.productId}}">{{purchase.productName}}</a></td>
          <td>{{purchase.quantity}}</td>
          <td>{{purchase.amount}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
