<main>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner mx-auto" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="assets/img/products/zdj1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="assets/img/products/zdj2.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="assets/img/products/zdj3.jpeg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="assets/img/products/zdj4.jpeg" alt="Fourth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="mt-5">
      <h1>O nas</h1>
      <p>Sklep internetowy "NewBuy" zajmuje się sprzedażą produktów odzieżowych. Klienci z całej Polski cenią sobie naszą
        jakość. Produkty dostarczamy w jak najkrótszym czasie. Już po zapłaceniu wysyłamy nasze produky do konsumenta.
        Cieszymy się zaufaniem wielu klientów. </p>
      <p>Dołącz do nas już teraz, by cieszyć się wysokiej jakości produktami w zadowalającej cenie! Czekamy na Ciebie!</p>
    </div>
  </div>
</main>
