<main>
  <div class="container mt-2">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-50" [hidden]="!success">
        Doładowanie zostało dodane
      </div>
      <div class="alert alert-danger w-50" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <div>
        <h4>DOŁADOWANIA</h4>
      </div>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-50" [formGroup]="topUpForm" (submit)="addTopUp()" novalidate id="topUpForm">
        <div class="form-group">
          <label for="user">Użytkownik</label>
          <select class="form-control" formControlName="user" [compareWith]="compare" id="user" name="user" required>
            <option *ngFor="let user of users" [value]="user.id"> {{user.username}}</option>
          </select>
          <div
            *ngIf="topUpForm.controls['user'].invalid && (topUpForm.controls['user'].dirty || topUpForm.controls['user'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="amount">Kwota: </label>
          <input type="number" class="form-control" formControlName="amount" id="amount" name="amount" required min="1" max="9999"/>
          <div
            *ngIf="topUpForm.controls['amount'].invalid && (topUpForm.controls['amount'].dirty || topUpForm.controls['amount'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="topUpForm.controls['user'].invalid || topUpForm.controls['amount'].invalid" class="btn btn-secondary">
            <i class="fa fa-plus"></i>
            Doładuj
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
