<main>
  <div class="container p-3">
    <h1>Powiadomienia</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Treść</th>
          <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let notification of notifications; let i = index" [attr.data-index]="i">
          <th scope="row">{{i}}</th>
          <td>{{notification.text}}</td>
          <td>{{notification.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
