<main>
  <div class="container p-3 pl-5">
    <h1>{{categoryName}}</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
        <div *ngFor="let product of products" class="m-4 col col-lg-3" (click)="goToProduct(product.id)">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" [src]="findPhoto(product.id)">
            <div class="card-body text-center">
              <span>{{product.name}} <strong>{{product.amount}} zł</strong></span>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>
