<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-100" [hidden]="!deleteSuccess">
        Zdjęcie zostało usunięte
      </div>
      <div class="alert alert-success w-100" [hidden]="!addSuccess">
        Zdjęcie zostało dodane
      </div>
      <div class="alert alert-danger w-100" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <h1>Zdjęcia</h1>
    </div>
    <div>
      <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addPhotoModal">
        <i class="fa fa-plus"></i>
        Dodaj zdjęcie
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Zdjęcie</th>
          <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let photo of photos">
          <td><img class="w-100 h-100" [src]="getContent(photo)"></td>
          <td>
            <button class="btn btn-secondary btn-sm mr-1" (click)="deletePhoto(photo.id)">
              Usuń
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="addPhotoModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file" id="fileInput" (change)="onFileChange($event)"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeAddPhotoModalButton" data-dismiss="modal">
            Zamknij
          </button>
          <button class="btn btn-primary" (click)="addPhoto()">
            Dodaj
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
