<main>
  <div class="container p-3">
    <div class="row pl-3">
    <h1>{{nullSafeProductName()}}</h1>
    </div>
    <div class="row p-3">
      <div [hidden]="!showAddToCartSuccessMessage" class="alert alert-success w-100">
        Dodano produkt do koszyka
      </div>
      <div [hidden]="!showAddToCartErrorMessage" class="alert alert-danger w-100">
        Błąd podczas dodawania produktu do koszyka. Spróbuj ponownie.
      </div>
      <div [hidden]="!showAddCommentSuccessMessage" class="alert alert-success w-100">
        Dziękujemy za dodanie komentarza.
      </div>
      <div [hidden]="!showAddCommentErrorMessage" class="alert alert-danger w-100">
        Błąd podczas dodawania komentarza. Spróbuj ponownie.
      </div>
      <div [hidden]="!showDeleteCommentSuccessMessage" class="alert alert-success w-100">
        Usunięto komentarz
      </div>
      <div [hidden]="!showDeleteCommentErrorMessage" class="alert alert-danger w-100">
        Błąd podczas usuwania komentarza. Spróbuj ponownie.
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            <li data-target="#carouselExampleControls" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="w-100 h-100" [src]="getContent(photos[0])">
            </div>
            <div *ngFor="let photo of additionalPhotos()" class="carousel-item">
              <img class="w-100 h-100" [src]="getContent(photo)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div>
          <h3>{{nullSafeProductAmount()}} zł</h3>
        </div>
        <div class="text-danger" [hidden]="nullSafeProductAvailability() || !authenticated()">
          Produkt niedostępny
        </div>
        <div [hidden]="!nullSafeProductAvailability()">
          Ilość: {{nullSafeProductQuantity()}}
          <div [hidden]="!authenticated()" class="mt-3">
            <button type="button" data-toggle="modal" data-target="#addToCartModal" class="btn btn-secondary">
              Dodaj do koszyka <i class="fa fa-shopping-cart ml-1"></i>
            </button>
          </div>
        </div>
        <div class="mt-3 rate-container" (mouseleave)="rate=0" (click)="addRate()">
          <i class="ml-1 fa fa-2x d-inline-block" *ngFor="let i of [1,2,3,4,5]" [ngClass]="getRateStarClass(i)" (mouseenter)="rate=i"> </i>
        </div>
        <div class="font-weight-light font-italic">
          Ilość opinii: {{ rateQuantity }}
        </div>
        <div class="mt-3">
          {{nullSafeProductDescription()}}
        </div>
      </div>
    </div>
    <div class="row p-3 mt-5">
      <div class="w-100 mb-3">
        <div class="d-inline-block align-middle">
          <h3 [hidden]="comments.length>0 && !authenticated()">Komentarze</h3>
        </div>
        <div class="d-inline-block ml-3 align-middle">
          <button [hidden]="!authenticated()" type="button" data-toggle="modal" data-target="#addCommentModal" class="btn btn-default btn-sm">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="w-100">
        <blockquote *ngFor="let comment of comments" class="blockquote comment mt-4">
          <p class="d-inline-block mr-2 mb-0">{{comment.content}}</p>
          <div class="d-inline-block comment-delete-link mt-0" (click)="showConfirmDeleteCommentModal(comment.id)">
            <i [hidden]="comment.username !== this.getUsername() && normalUser()" class="fa fa-times-circle"></i>
          </div>
          <footer class="blockquote-footer">{{comment.username}}</footer>
        </blockquote>
      </div>
    </div>
  </div>

  <!-- Modals -->
  <div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToCartModalTitle">{{nullSafeProductName()}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="selectedQuantity">Podaj ilość: </label>
          </div>
          <div>
            <input type="number" id="selectedQuantity" name="selectedQuantity" value="1"
                   [(ngModel)]="selectedQuantity" min="1" max="{{nullSafeProductQuantity()}}"
                   required>
            <div class="text-danger" [hidden]="!showInvalidQuantityMessage">
              Podaj właściwą liczbę
            </div>
          </div>
          <div class="mt-4">
            <span>Łączna kwota {{totalAmount()}} zł</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeAddToCartModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="addToCart()">Dodaj do koszyka</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCommentModalTitle">Dodaj komentarz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="commentContent">Treść: </label>
          </div>
          <div>
            <textarea id="commentContent" name="commentContent" [(ngModel)]="commentContent" class="w-100" rows="5" required></textarea>
            <div class="text-danger" [hidden]="!showInvalidCommentMessage">
              Wpisz treść komentarza
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeAddCommentModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="addComment()">Dodaj komentarz</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentModalTitle">Usuwanie komentarza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label>Czy na pewno chcesz usunąć komentarz? </label>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showDeleteCommentModalButton" data-toggle="modal" data-target="#deleteCommentModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeDeleteCommentModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="deleteComment()">Usuń komentarz</button>
        </div>
      </div>
    </div>
  </div>
</main>
