nav, footer {
  background-color: #303332;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav {
  top: 0;
}

nav li, footer li {
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  nav{
    height: 200px !important;
  }
}
