<nav class="navbar navbar-expand-lg navbar-dark navbar-full" style="background-color: #303332; height: 80px;">
  <!-- Links -->
  <a class="mr-auto mt-4 ml-2" href="/"><img src="assets/img/logo_light_grey.png"></a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <span class="nav-link" [hidden]="username().length == 0">Witaj, {{ username() }}</span>
    </li>

    <!--ANON USER-->
    <li class="nav-item dropdown" [hidden]="admin()">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-bag"></i>
        PRODUKTY
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <div *ngFor="let category of categories" class="dropdown-item" (click)="goToCategory(category)">{{category.name}}</div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/products">Wszystkie</a>
      </div>
    </li>

    <!--NORMAL USER-->
    <li [hidden]="!normalUser()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-circle"></i>
        MOJE KONTO
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
        <a class="dropdown-item" href="/cart">Koszyk</a>
        <a class="dropdown-item" href="/history">Historia zamówień</a>
        <a class="dropdown-item" href="/settings">Ustawienia</a>
      </div>
    </li>

    <!--ADMIN-->
    <li class="nav-item dropdown" [hidden]="!admin()">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-bag"></i>
        ZARZĄDZANIE
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
        <a class="dropdown-item" href="/admin/products">Produkty</a>
        <a class="dropdown-item" href="/admin/categories">Kategorie</a>
        <a class="dropdown-item" href="/admin/purchases">Historia zamówień</a>
        <a class="dropdown-item" href="/admin/purchase">Dodaj zamówienie</a>
        <a class="dropdown-item" href="/admin/history">Zamówienia użytkowników</a>
        <a class="dropdown-item" href="/admin/notifications">Powiadomienia</a>
        <a class="dropdown-item" href="/admin/topUp">Doładowania</a>
      </div>
    </li>
    <li [hidden]="!admin()" class="nav-item">
      <a class="nav-link" href="/admin/report">
        <i class="fa fa-book"></i>
        RAPORT
      </a>
    </li>
    <li [hidden]="authenticated()" class="nav-item">
      <a class="nav-link" href="/login">
        <i class="fa fa-sign-in"></i>
        LOGOWANIE
      </a>
    </li>
    <li [hidden]="!authenticated()" class="nav-item">
      <span class="nav-link" (click)="logout()">
        <i class="fa fa-sign-out"></i>
        WYLOGUJ
      </span>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="navbar navbar-expand-lg navbar-dark navbar-full">
  <ul class="nav navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="/regulations">REGULAMIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">KONTAKT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">PRODUKTY</a>
    </li>
  </ul>
</footer>
