<main>
  <div class="container" [hidden]="!itemsNotEmpty()">
    <h1>Historia zamówień</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak zamówień</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Numer zamówienia</th>
          <th scope="col">Data</th>
          <th scope="col">Ilość produktów</th>
          <th scope="col">Łączna ilość elementów</th>
          <th scope="col">Suma</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td><a href="/order;id={{order.id}}">{{order.id}}</a></td>
          <td>{{order.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{order.productsCount}}</td>
          <td>{{order.totalQuantity}}</td>
          <td>{{order.totalAmount}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
