<main>
  <div class="container">
    <h1>Zamówienie numer {{orderId}}</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Produkt</th>
          <th scope="col">Ilość</th>
          <th scope="col">Cena</th>
          <th scope="col">Suma</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of order.items">
          <td><a href="/product;id={{item.productId}}">{{item.name}}</a></td>
          <td>{{item.quantity}}</td>
          <td>{{item.amount}} zł</td>
          <td>{{item.amount * item.quantity}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-5">
      <table class="table w-50">
        <tbody>
        <tr>
          <th>Data zamówienia</th>
          <td>{{order.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        <tr [hidden]="order.username === username()">
          <th>Użytkownik</th>
          <td>{{order.username}}</td>
        </tr>
        <tr>
          <th>Łączna kwota</th>
          <td>{{totalAmount()}} zł</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
