<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-100" [hidden]="!addSuccess">
        Kategoria została dodana
      </div>
      <div class="alert alert-success w-100" [hidden]="!modifySuccess">
        Kategoria została zmodyfikowana
      </div>
      <div class="alert alert-danger w-100" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>
  </div>
  <div class="container" [hidden]="!itemsNotEmpty()">
    <div>
      <h1>Zarządzanie kategoriami</h1>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addCategoryModal">
      <i class="fa fa-plus"></i>
      Dodaj kategorię
    </button>
  </div>
  <div class="container">
    <div class="row justify-content-md-center mt-4" [hidden]="itemsNotEmpty()">
      <h3>Brak kategorii</h3>
    </div>
    <div class="row justify-content-md-center" [hidden]="!itemsNotEmpty()">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Promocja</th>
          <th scope="col">Widoczność</th>
          <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <td><a href="/category;id={{category.id}};name={{category.name}}">{{category.name}}</a></td>
          <td>{{category.promotion}}</td>
          <td>{{category.visibility ? "TAK" : "NIE"}}</td>
          <td>
            <button class="btn btn-secondary btn-sm mr-1" (click)="updateCategory(category.id)">
              Zmień
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="showCategory(category.id)" [hidden]="category.visibility">
              Pokaż
            </button>
            <button class="btn btn-secondary btn-sm mr-1" (click)="hideCategory(category.id)" [hidden]="!category.visibility">
              Ukryj
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form role="form" class="w-75" [formGroup]="addCategoryForm" novalidate id="addCategoryForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCategoryModalTitle">Dodaj kategorię</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Nazwa kategorii:</label>
              <input type="text" class="form-control" formControlName="name" id="name" name="name" required/>
              <div
                *ngIf="addCategoryForm.controls['name'].invalid && (addCategoryForm.controls['name'].dirty || addCategoryForm.controls['name'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="promotion">Promocja:</label>
              <input type="number" class="form-control" formControlName="promotion" id="promotion" name="promotion" required/>
              <div
                *ngIf="addCategoryForm.controls['promotion'].invalid && (addCategoryForm.controls['promotion'].dirty || addCategoryForm.controls['promotion'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeAddCategoryModalButton" data-dismiss="modal">
              Zamknij
            </button>
            <button type="submit" [disabled]="addCategoryForm.controls['name'].invalid || addCategoryForm.controls['promotion'].invalid"
                    class="btn btn-primary" (click)="addCategory()">Dodaj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="updateCategoryModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form role="form" class="w-75" [formGroup]="updateCategoryForm" novalidate id="updateCategoryForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateCategoryModalTitle">Aktualizuj kategorię</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="updateName">Nazwa kategorii:</label>
              <input type="text" class="form-control" formControlName="name" id="updateName" name="name" required/>
              <div
                *ngIf="updateCategoryForm.controls['name'].invalid && (updateCategoryForm.controls['name'].dirty || updateCategoryForm.controls['name'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="form-group">
              <label for="updatePromotion">Promocja:</label>
              <input type="number" class="form-control" formControlName="promotion" id="updatePromotion" name="promotion"
                     required/>
              <div
                *ngIf="updateCategoryForm.controls['promotion'].invalid && (updateCategoryForm.controls['promotion'].dirty || updateCategoryForm.controls['promotion'].touched)"
                class="text-danger">
                Pole nie może być puste
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeUpdateCategoryModalButton" data-dismiss="modal">
              Zamknij
            </button>
            <button type="button" [hidden]="true" id="showUpdateCategoryModalButton" data-toggle="modal"
                    data-target="#updateCategoryModal">Pokaż
            </button>
            <button type="submit"
                    [disabled]="updateCategoryForm.controls['name'].invalid || updateCategoryForm.controls['promotion'].invalid"
                    class="btn btn-primary" (click)="update()">Aktualizuj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
