<main>
  <div class="container mt-2">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-success w-50" [hidden]="!success">
        Zamówienie zostało dodane
      </div>
      <div class="alert alert-danger w-50" [hidden]="!error">
        Niepowodzenie. Proszę spróbować ponownie.
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <div>
        <h4>DODAWANIE ZAMÓWIEŃ</h4>
      </div>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-50" [formGroup]="purchaseForm" (submit)="addPurchase()" novalidate id="purchaseForm">
        <div class="form-group">
          <label for="product">Produkt</label>
          <select class="form-control" formControlName="product" [compareWith]="compare" id="product"
                  name="product" required>
            <option *ngFor="let product of products" [value]="product.id"> {{product.name}}</option>
          </select>
          <div
            *ngIf="purchaseForm.controls['product'].invalid && (purchaseForm.controls['product'].dirty || purchaseForm.controls['product'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">Ilość: </label>
          <input type="number" class="form-control" formControlName="quantity" id="quantity" name="quantity" required min="1" max="9999"/>
          <div
            *ngIf="purchaseForm.controls['quantity'].invalid && (purchaseForm.controls['quantity'].dirty || purchaseForm.controls['quantity'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">Kwota: </label>
          <input type="number" class="form-control" formControlName="amount" id="amount" name="amount" required min="1" max="9999"/>
          <div
            *ngIf="purchaseForm.controls['amount'].invalid && (purchaseForm.controls['amount'].dirty || purchaseForm.controls['amount'].touched)"
            class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="purchaseForm.controls['quantity'].invalid || purchaseForm.controls['product'].invalid" class="btn btn-secondary">
            <i class="fa fa-plus"></i>
            Wyślij
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
